{% include 'layout.html' %}

<div class="container">
    <div class="card">
	    <!--상단타이틀-->
        <div class="card-header">
            Login
        </div>
        <div class="card-body">

	        {% if msg %}
	        {% if msg == 'Logout Successful' or msg == 'User Successfully created' or msg == 'Password Updated Please Login Again' %}
	        <div class="alert alert-success" role="alert">
		        {{msg}}
	        </div>
	        {% else %}
	        <div class="alert alert-danger" role="alert">
		        {{msg}}
	        </div>
	        {% endif %}
	        {% endif %}


            <form method="POST" action="/auth">
                <div class="form-group">
                    <label>Username</label>
	                <!--텍스트 박스-->
                    <input type="text" class="form-control"
                           name="email" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
	                <!--패스워드-->
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
	    <!--회원가입-->
        <div class="card-footer text-muted">
            <a href="register"> Register? </a>
        </div>
    </div>
</div>
